<!DOCTYPE html>
<html ng-app="xcomApp">
<head>
    <title>XCOM: Long War - Troop Builder</title>

    <script src="scripts/linq.min.js" type="text/javascript"></script>
    <script src="scripts/jquery-2.1.1.min.js" type="text/javascript"></script>

    <script src="scripts/angular.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="scripts/bootstrap.min.js"></script>

    
</head>
<body id="xcomController" ng-controller="xcomController">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="lw_header.png" alt="XCOM Long War" style="height: 24px;" />
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Soldier <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation" ng-repeat="item in soliders" ng-class="{ active: isActive(item.id)}">
							<a href="#{{item.id}}" ng-click="showClass(item.id)">
								{{item.name}}
							</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MEC Trooper <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation" ng-repeat="item in mecTroopers" ng-class="{ active: isActive(item.id)}">
							<a href="#{{item.id}}" ng-click="showClass(item.id)">
								{{item.name}}
							</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">S.H.I.V. <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation" ng-repeat="item in shivs" ng-class="{ active: isActive(item.id)}">
							<a href="#{{item.id}}" ng-click="showClass(item.id)">
								{{item.name}}
							</a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div ng-show="class == null">

		<div class="alert alert-success">
			New Features
			<ul>
				<li>Default armor and weaoons now selected when starting a new build</li>
			</ul>

			Bug Fixes
			<ul>
				<li>Stat increases when ranking up are now calculated correctly</li>
				<li>Stat increases from perks are now calculated correctly.</li>
			</ul>
		</div>

		<div class="alert">
			Known Issues:
			<ul>
				<li class="bg-danger">High: Equipping MEC-2 or MEC-3 is not changing the available number of secondary weapons.</li>
				<li class="bg-warning">Medium: <i>Tactial Rigging</i> is missing as a status flag.  Should come with MEC-2 changes</li>
				<li class="bg-info">Low: Toggling a perk off directly, without select a sibling perk, removes the perk from all calculations, but leaves the button selected. </li>
				<li class="bg-info">Low: <i>Neural Dampening</i> not enforced</li>
				<li class="bg-danger">High: Final stat values are inconsitent in-game observations.  LW devs need to be contacted</li>				
			</ul>
		</div>

		<div class="alert alert-info">
			Future plans:
			<ul>
				<li>Low: HTML output so images can be exported</li>
				<li>Low: Add images of weapons and use a carosuel for picking</li>
				<li>Interactive tech tree</li>
				<li>Base designer</li>
				<li>Resource costs</li>
				<li>Shortest-path for build</li>
			</ul>
		</div>
	</div>

	<div class="container-fluid" ng-hide="class == null">
		

		<div class="row">
			
			<div class="col-md-9">
				
				<ul class="nav nav-pills nav-justified">
					<li role="presentation" ng-hide="hideTab('perks')" ng-class="{active: visibleTab === 'perks'}" ><a href="#" ng-click="showTab('perks')" >{{class.name}} Perks</a></li>
					<li role="presentation" ng-class="{active: visibleTab === 'armory'}"><a href="#" ng-click="showTab('armory')">Armory</a></li>
					<li role="presentation" ng-hide="hideTab('psionics')" ng-class="{active: visibleTab === 'psionics'}"><a href="#" ng-click="showTab('psionics')">Psionics</a></li>
					<li role="presentation" ng-hide="hideTab('gene')" ng-class="{active: visibleTab === 'gene'}"><a href="#" ng-click="showTab('gene')">Gene Mods</a></li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-body" ng-show="visibleTab === 'perks'">

						<div class="row" ng-repeat="perk in perks" style="padding: 2px;">
							<div class="col-sm-3">
								<span class="pull-left">
									{{ranks[$index].name}}<br/>
									+{{class.spec.stat_progression[$index].health}} HP
									+{{class.spec.stat_progression[$index].aim}} Aim
									+{{class.spec.stat_progression[$index].will_low}} ({{class.spec.stat_progression[$index].will_high}}) Will
								</span>
							</div>
							<div class="col-sm-9">

								<div class="btn-group btn-group-justified" role="group">

									<div class="btn-group" data-toggle="buttons" ng-repeat="perkDetails in perk">

										<label class="btn btn-default" ng-mouseover="showDetails(perkDetails)" ng-mouseleave="hideDetails()" ng-click="choosePerk(perkDetails, $parent.$index, this)" ng-class="{active: $parent.$index == 0}">
											<input type="checkbox" name="{{$parent.$index}}" id="{{perkDetails.id}}">
											<img src="{{perkDetails.img_src}}" class="pull-left" />
											{{perkDetails.title}}
										</label>

									</div>

								</div>

							</div>

						</div>

					</div>

					<div class="panel-body" ng-show="visibleTab === 'armory'">
						<div class="row" ng-hide="isClassShiv() === true">
							<div class="col-sm-5"><span class="pull-right">Armor</span></div>
							<div class="col-sm-7">
								<select class="form-control"
										ng-model="selectedArmor"
										ng-change="showVisibleOutput()"
										ng-options="armor.name group by armor.type for armor in armors"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5"><span class="pull-right">Primary Weapon</span></div>
							<div class="col-sm-7">
								<select class="form-control"
										ng-change="showVisibleOutput()"
										ng-model="selectedPrimaryWeapon"
										ng-options="weapon.name group by weapon.type for weapon in primaryWeapons"></select>
							</div>
						</div>
						<div class="row" ng-hide="isClassShiv() === true">
							<div class="col-sm-5"><span class="pull-right">Secondary Weapon</span></div>
							<div class="col-sm-7">
								<select class="form-control"
										ng-change="showVisibleOutput()"
										ng-model="selectedSecondaryWeapon"
										ng-options="weapon.name group by weapon.type for weapon in secondaryWeapons"></select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-5"><span class="pull-right">Equipment</span></div>
							<div class="col-sm-7">
								<select class="form-control"
										ng-change="equipmentChanged()"
										ng-model="equipmentSlotOne"
										ng-options="item.name group by item.type for item in equipment"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5"><span class="pull-right">Equipment</span></div>
							<div class="col-sm-7">
								<select class="form-control"
										ng-change="equipmentChanged()"
										ng-model="equipmentSlotTwo"
										ng-options="item.name group by item.type for item in equipment"></select>
							</div>
						</div>
					</div>

					<div class="panel-body" ng-show="visibleTab === 'psionics' ">
						<div class="row" ng-repeat="rank in psionicsPerks" style="padding: 2px;">
							<div class="col-sm-3">
								<span class="pull-right">{{rank.name}}</span>
							</div>
							<div class="col-sm-9">

								<div class="btn-group btn-group-justified" role="group">

									<div class="btn-group" data-toggle="buttons" ng-repeat="perkDetails in rank.perks">

										<label class="btn btn-default" ng-mouseover="showDescription(perkDetails.description)" ng-mouseleave="hideDescription()" ng-click="choosePsiPerk(perkDetails, $parent.$index, this)">
											<input type="checkbox" name="psi{{$parent.$index}}" id="{{perkDetails.id}}">
											<img src="{{perkDetails.img_src}}" class="pull-left" />
											{{perkDetails.name}}
										</label>

									</div>

								</div>

							</div>

						</div>
					</div>

					<div class="panel-body" ng-show="visibleTab === 'gene' ">
						<div class="row" ng-repeat="slot in geneMods" style="padding: 2px;">
							<div class="col-sm-3">
								<span class="pull-right">{{slot.slot}}</span>
							</div>
							<div class="col-sm-9">

								<div class="btn-group btn-group-justified" role="group">

									<div class="btn-group" data-toggle="buttons" ng-repeat="perkDetails in slot.mods">

										<label class="btn btn-default" ng-mouseover="showDescription(perkDetails.description)" ng-mouseleave="hideDescription()" ng-click="chooseGeneMod(perkDetails, $parent.$index, this)">
											<input type="checkbox" name="psi{{$parent.$index}}" id="{{perkDetails.id}}">
											<img src="{{perkDetails.img_src}}" class="pull-left" style="width: 32px;" />
											{{perkDetails.name}}
										</label>

									</div>

								</div>

							</div>

						</div>
					</div>
				</div>
				
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Build</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-4">

								<span ng-repeat="icon in icons">
									<img src="{{icon.img_url}}" alt="{{icon.title}}" style="width: 32px;" ng-mouseover="showDescription(icon.description)" ng-mouseout="hideDescription()" />
								</span>

							</div>
							<div class="col-lg-8">
								<table class="table table-condensed table-striped" ng-show="equipmentSlotOne != null || equipmentSlotTwo != null">
									<tr>
										<td>{{equipmentSlotOne.name}}</td>
										<td>{{equipmentSlotOne.notes}}</td>
									</tr>
									<tr>
										<td>{{equipmentSlotTwo.name}}</td>
										<td>{{equipmentSlotTwo.notes}}</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="col-lg-12">
								<ul class="nav nav-tabs">
									<li role="presentation" ng-class="{active: visibleOutput === 'markdown'}"><a href="#" ng-click="showOutput('markdown')">Markdown (reddit)</a></li>
									<li role="presentation" ng-class="{active: visibleOutput === 'text'}"><a href="#" ng-click="showOutput('text')">Plain Text</a></li>
								</ul>
								<div >
									<textarea class="form-control" rows="10">
										{{formatted_build}}
									</textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
								
			</div>            
			<div class="col-md-3">
				<table class="table table-condensed table-striped">
					<tr>
						<td>HP</td>
						<td>{{baseHealth()}} + {{bonusHealth()}}</td>
						<td>Will</td>
						<td>{{lowWill()}} - {{highWill()}}</td>
					</tr>
					<tr>
						<td>Defense</td>
						<td>{{defense()}}</td>
						<td>Damage Reduction</td>
						<td>{{damageReduction()}}</td>
					</tr>
					<tr>
						<td>Aim</td>
						<td>{{aim()}}</td>
						<td>Mobility</td>
						<td>{{mobility()}}</td>
					</tr>					
				</table>
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="4">{{selectedArmor.name}}</th>
					</tr>					
					<tr>
						<td>HP</td><td>{{selectedArmor.hp}}</td><td>Defense</td><td>{{selectedArmor.defense}}</td>
					</tr>
					<tr>
						<td>Mobility</td><td>{{selectedArmor.mobility}}</td><td>Will</td><td>{{selectedArmor.will}}</td>
					</tr>
				</table>
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="4">
							{{selectedPrimaryWeapon.name}}
						</th>
					</tr>					
					<tr>
						<td>Min Damage</td>
						<td>
							{{selectedPrimaryWeapon.min_damage + build.damage_bonus + build.primary_damage_bonus}}
						</td>
						<td>Max Damage</td>
						<td>
							{{selectedPrimaryWeapon.max_damage + build.damage_bonus + build.primary_damage_bonus}}
						</td>
					</tr>
					<tr>
						<td>Crit Min</td>
						<td>
							{{selectedPrimaryWeapon.crit_damage_min + build.damage_bonus + build.primary_damage_bonus}}
						</td>
						<td>Crit Max</td>
						<td>
							{{selectedPrimaryWeapon.crit_damage_max + build.damage_bonus + build.primary_damage_bonus}}
						</td>
					</tr>
				</table>
				<table class="table table-condensed table-striped">
					<tr>
						<th colspan="4">
							{{selectedSecondaryWeapon.name}}
						</th>
					</tr>
					<tr>
						<td>Min Damage</td>
						<td>
							{{selectedSecondaryWeapon.min_damage + build.damage_bonus + build.secondary_damage_bonus}}
						</td>
						<td>Max Damage</td>
						<td>
							{{selectedSecondaryWeapon.max_damage + build.damage_bonus  + build.secondary_damage_bonus}}
						</td>
					</tr>
					<tr>
						<td>Crit Min</td>
						<td>
							{{selectedSecondaryWeapon.crit_damage_min + build.damage_bonus + build.secondary_damage_bonus}}
						</td>
						<td>Crit Max</td>
						<td>
							{{selectedSecondaryWeapon.crit_damage_max + build.damage_bonus + build.secondary_damage_bonus}}
						</td>
					</tr>
				</table>
				<table class="table table-condensed table-striped">
					<tr>
						<td></td>
					</tr>
				</table>
				<div class="alert alert-success" ng-show="showPerkDetails">
					{{perkInDetails.description}}
					<table class="table table-condensed">
						<tr>
							<td>Aim</td>
							<td>Will</td>
							<td>Mobility</td>
						</tr>
						<tr>
							<td>+{{perkInDetails.aim_bonus}}</td>
							<td>+{{perkInDetails.will_bonus}}</td>
							<td>+{{perkInDetails.mobility_bonus}}</td>
						</tr>
					</table>
				</div>
				<div class="alert alert-success" ng-show="displayDescription">
						{{description}}
				</div>
		</div>

		</div>
		
		
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<p class="navbar-text navbar-left">
					All images and text Copyright Firaxis Games.
				</p>
				<p class="navbar-text navbar-right">
					Michael Pickens, http://www.reddit.com/u/khariq
				</p>
			</div>
		</div>
	</nav>

	<script src="scripts/app.js" type="text/javascript"></script>

	<script src="scripts/data_service.js" type="text/javascript"></script>
	
	<script src="scripts/buildController.js" type="text/javascript"></script>

	</body>
</html>