<!DOCTYPE html>
<html ng-app="xcomApp">
<head>
    <title>XCOM: Long War - Troop Builder</title>

    <script src="scripts/linq.min.js" type="text/javascript"></script>
    <script src="scripts/jquery-2.1.1.min.js" type="text/javascript"></script>

    <script src="scripts/angular.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="scripts/bootstrap.min.js"></script>

    
</head>
<body ng-controller="xcomController">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="lw_header.png" alt="XCOM Long War" style="height: 24px;" />
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li role="presentation" ng-repeat="item in menuItems" ng-class="{ active: isActive(item.id)}">
						<a href="#{{item.id}}" ng-click="showClass(item.id)">
							{{item.name}}
						</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid" ng-hide="class == null">
		
		<div class="row">
			
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							{{class.name}} Perks
						</h4>
					</div>
					<div class="panel-body">
						
						<div class="row" ng-repeat="perk in perks" style="padding: 2px;">
							<div class="col-sm-3">
								{{ranks[$index].name}}
							</div>
							<div class="col-sm-9">

								<div class="btn-group btn-group-justified" role="group">
									
									<div class="btn-group" data-toggle="buttons" ng-repeat="perkDetails in perk">
								
										<label class="btn btn-default" ng-mouseover="showDetails(perkDetails)" ng-mouseleave="hideDetails()" ng-click="choosePerk(perkDetails, $parent.$index, this)" >
											<input type="checkbox" name="{{$parent.$index}}" id="{{perkDetails.id}}" > 
											<img src="{{perkDetails.img_src}}" class="pull-left" /> 
											{{perkDetails.title}}
										</label>

									</div>

								</div>

							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
							</div>
						</div>
						
					</div>
				</div>
			</div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Equipment</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        	<div class="col-sm-5">Armor</div>	
                        	<div class="col-sm-7"><select class="form-control"> <option ng-repeat="armor in armors">{{armor.name}}</option> </select></div>
                        </div>
                        <div class="row">
                        	<div class="col-sm-5">Primary Weapon</div>	
                        	<div class="col-sm-7"><select class="form-control"> <option ng-repeat="weapon in primaryWeapons">{{weapon.name}}</option> </select></div>
                        </div>
                        <div class="row">
                        	<div class="col-sm-5">Secondary Weapon</div>	
                        	<div class="col-sm-7"><select class="form-control"> <option ng-repeat="weapon in secondaryWeapons">{{weapon.name}}</option> </select></div>
                        </div>
                        <!--
                        <div class="row" ng-repeat="slot in equipmentSlot">
                        	<div class="col-sm-5">Equipment {{$index}}</div>	
                        	<div class="col-sm-7"><select class="form-control"> <option ng-repeat="e in equipment">{{e.name}}</option> </select></div>
                        </div>
                    	-->
                    </div>
                </div>
            </div>
			<div class="col-md-3">
				<table class="table table-condensed table-striped">
					<tr>
						<td>HP</td>
						<td>{{build.hp + build.rank_ups.health}} + {{build.armor}}</td>
						<td>Will</td>
						<td>{{build.will + build.rank_ups.will_low}} - {{build.will + build.rank_ups.will_high}}</td>
					</tr>
					<tr>
						<td>Defense</td>
						<td>{{build.defense}}</td>
						<td>Damage Reduction</td>
						<td>{{build.damage_reduction}}</td>
					</tr>
					<tr>
						<td>Aim</td>
						<td>{{build.aim + build.mod.aim + build.rank_ups.aim}}</td>
						<td>Mobility</td>
						<td>{{build.mobility + build.mod.mob}}</td>
					</tr>
				</table>

				<div class="alert alert-success" ng-show="showPerkDetails">
					{{perkInDetails.description}}
					<table class="table table-condensed">
						<tr>
							<td>Aim</td>
							<td>Will</td>
							<td>Mobility</td>
						</tr>
						<tr>
							<td>+{{perkInDetails.aim_bonus}}</td>
							<td>+{{perkInDetails.will_bonus}}</td>
							<td>+{{perkInDetails.mobility_bonus}}</td>
						</tr>
					</table>
				</div>

			</div>

		</div>
		
		
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<p class="navbar-text navbar-left">
					All images and text Copyright Firaxis Games.
				</p>
				<p class="navbar-text navbar-right">
					Michael Pickens, http://www.reddit.com/u/khariq
				</p>
			</div>
		</div>
	</nav>

	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/Controllers/navController.js" type="text/javascript"></script>
	<script src="scripts/Controllers/buildController.js" type="text/javascript"></script>
	<script src="scripts/Controllers/classController.js" type="text/javascript"></script>

	</body>
</html>