<!DOCTYPE html>
<html ng-app="xcomApp">
<head>
    <title>XCOM: Long War - Troop Builder</title>

    <script src="scripts/linq.min.js" type="text/javascript"></script>
    <script src="scripts/jquery-2.1.1.min.js" type="text/javascript"></script>

    <script src="scripts/angular.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="scripts/bootstrap.min.js"></script>

    
</head>
	<body id="researchController" ng-controller="researchController">

	<div class="container-fluid">
		Techs
		<div class="row">
			<div class="col-md-8" id="techDiv">

				<div class="row" ng-repeat="techLevel in techTree">
					<div class="col-md-12" >
						<div class="btn-group" role="group" ng-repeat="tech in techLevel.techs" style="margin: 5px;" ng-hide="techIsResearched(tech) == false && techCanBeResearched(tech) == false">
							<div class="btn-group" data-toggle="buttons" >
								<label class="btn" 
									ng-class="techIsResearched(tech) ? 'btn-success' : techCanBeResearched(tech) ? 'btn-info' : 'btn-danger' " 
									ng-click="researchTech(tech)"
									data-container="body" 
									data-toggle="popover" 
									data-placement="right" 
									data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
									data-html="true"
									data-toggle="hover"
									data-selector="tectDiv"
									>
									<input type="checkbox" name="tech_{{$parent.$index}}_{{$index}}" id="{{tech.id}}">
									{{tech.name}}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="alert alert-info" ng-show="descriptionVisible">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">{{description.name}}</div>
						</div>
						<div class="row">
							<div class="col-sm-12">Duration: {{description.duration}}</div>
						</div>
						<div class="row">
							<div class="col-sm-12">Cost</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Alien Alloys</div>
							<div class="col-sm-11">{{description.costs.alien_alloys}}</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Elerium</div>
							<div class="col-sm-11">{{description.costs.elerium}}</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Weapon Frags</div>
							<div class="col-sm-11">{{description.costs.weapon_fragments}}</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Meld</div>
							<div class="col-sm-11">{{description.costs.meld}}</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Other</div>
							<div class="col-sm-11">{{description.costs.other}}</div>
							
						</div>
						<div class="row">
							<div class="col-sm-12">Unlocks</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Research</div>
							<div class="col-sm-11">{{description.child_techs}}
						</div>
						<div class="row">
							<div class="col-sm-1">Foundry</div>
							<div class="col-sm-11">{{description.foundry}}</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Other</div>
							<div class="col-sm-11">{{description.other_unlocks}}</div>
						</div>
						<div class="row">
							<div class="col-sm-1">Council Requests</div>
							<div class="col-sm-11">{{description.council_requests}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</body>

	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/data_service.js" type="text/javascript"></script>
	
	<script src="scripts/researchController.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	</script>
</html>